
h1{
    Color:  #726969; 
    Background-Color: yellow;
    text-decoration: underline;
    text-align: center;
    
}
h2{
    Color: #2f4721;
    font-size: 40px;
    background-color: aqua;
    text-align: center;

}
ul { 
    Color: Black;

}

p { 
   Color:Black;
}

body,
input,
button {
Font: 16px "Trebuchet MS" sans-serif;
}

input[type="submit"].button
button.button
{cursor: pointer;}
.button {
    padding:8px 16px;
    background-color: #2f47;
    text-decoration: none;
    color: blue;
    border-radius: 4px;
    text-align: right;
    display: inline-block;
    width: 200px;}