html{
    background: url(shot-glasses-placed-on-tabletop-1400255.jpg) no-repeat center center fixed;
    background-size: cover;
}


body {
    width: 90%;
    font-family: "calibri";
    display: grid; 
    grid-template-columns: 30% 30% 30%;
    column-gap: 60px;
    grid-template-rows: none;
    margin-left: 90px;
    margin-right: 0px;
} 
Header{
    display:grid;
    grid-column: 1/-1;
    column-span: all ;
    width: 102%;
    position: relative;
    right: 6%;
    top:-40px;
}
div.top_bar{
    display: grid;
    column-span: all;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    background:rgba(63, 63, 63, 0.3);
    height: 60px;
    width: 110%;
    margin-left: 0px;

}

img.logo{
    cursor: pointer;
   
}


.top ul{
    float: right;
    margin-right: 0px;
    list-style: none;

}

.top ul li{
    display: inline-block;
    line-height: 60px;
    margin: 0px;
    position: relative;
    top:-70px;
    left:60%;
}

.top ul li a{
    color: #e4e3e3;
    font-size: 20px;
    text-transform: capitalize;
    padding: 20px 40px;
    border-radius: 5px;
}

.top a:hover{
    background: rgb(209, 94, 28);;
    transition: .5s;
}

button{
    padding: 5px 10px;
    color: white    ;
    background-color: rgb(0, 0, 0);
    border: none;
    border-radius: 40px;
    cursor: pointer;
    transition: all 0.3s ease 0s; 
    position: relative;
    left: 170%;
    bottom:500%;
}

button:hover{
    background-color: rgba(0, 136, 169, 0.5);
}

nav.social{
    position: relative;
    top: 20%;
}

.social ul{
    list-style-type: none;
    padding: 0;
    transform: translatex(-50px);
}

.social ul li{
    display: block;
    margin: 20px;
    background-color:rgba(231, 101, 14, 0.4);
    width: 90px;
    text-align: right;
    padding: 15px;
    border-radius: 0 40px 40px 0;
}

.social ul li a i{
    margin-left: 15px;
    color: black;
    background-color: white;
    padding: 10px;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    font-size: 20px;
}

.social ul li:hover i{
    transform: rotate(360deg);
    transition: all 1s;
}

.social ul li.twitter:hover{
    background-color: #55acee;
}

.social ul li.facebook:hover{
    background-color: #3d5999;
}

.social ul li.instagram:hover{
    background-color: #e4405f;
}

.social ul li.youtube:hover{
    background-color: #d80202;
}
    

.Lineup {
    display: grid;
    grid-column: 1/2;
    text-align: center;
    position: relative;
    bottom:5%;
    color:darkslategray;
    padding:0px;
    background-color: rgb( 245, 245, 245, 0.9);
    border-radius: 40px;

}
.Seasonal {
    display: grid;
    grid-column: 2/3;
    text-align: center;
    position: relative;
    bottom:5%;
    color:darkslategray;
    padding: 0px;
    background-color:  rgb( 245, 245, 245, 0.9);
    border-radius: 40px;

   
   
}
.DE {
    display:block;
    grid-column: 3/3;
    text-align: center;
    position: relative;
    bottom:5%;
    color:darkslategray;
    padding: 0px;
    background-color:  rgb( 245, 245, 245, 0.9);
    border-radius: 40px;

  
    
}
h1{
    display: inline-block;
    position: relative;
    color:white;
    font-size:3.4em;
    bottom:150%;
    left: 125%;
    text-decoration: underline;
    background-color:black;
    border-radius: 20px;
    width: 75%;
    padding: 0px 0px 0px 0px;
    border: 0px;
    overflow: hidden;

}

h2 {
    font-size: 3.2em ;
    padding: 0px;
    margin:0px;
    text-decoration: underline;
    color:black;
}
h3{
    font-size: 2.0em;
    padding: 0px;
    margin: 0px;
}
h4{
    font-size: 1.8em;
    margin: 0px;
}
p{
    font-size: 1.5em;
    margin: 0px;
}
b{
    color: black;
}
.Col3{
    padding: 50px;
    
}
img{
    border-radius: 20px;
}
footer{
    display:grid;
    grid-column: 1/-1;
    column-span: all ;
    width: 385%;
    float: left;
    position: relative;
    right: 250%;
    top: 10%;
    text-align: center;
    background-color:rgb(209, 94, 28);
    color: black;
    font-size: 0.8em;
}
.logo-squid{
    cursor: pointer;
    width: 30px;
    height: auto;
}